<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Features</a></li>
    <li><a href="#">Gene Splicing</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Cloning
    </li>
  </ul>
</nav>

<div class="text-center">
  <h1>Wow, what an aweome page</h1>
  <h3>Here are some reasons you should fill out our form:</h3>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h5>This is a callout.</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>
<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h5>This is a callout.</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>
<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h5>This is a callout.</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>
