<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Foundation Funtimes</title>

    <link rel="stylesheet" href="/stylesheets/foundation.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Practice Site</li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Sign In</a></li>
        </ul>
      </div>
    </div>

    <div class="row column">
      <%= yield %>
    </div>

  </body>
</html>
